*{padding: 0; margin: 0; list-style: none;}
.header{
    background-color: black;
}
.left{
    float: left;
    padding: 5px;
    margin-top: 10px;
    color: white;
}
.body{
    background-color: #d1e3f3;
}
.body-content{
    padding-top: 30px;
}
.form2 label{
    width: 200px;
}
footer{
    text-align: center;
    height: 50px;
}
footer p{
    margin: 25px 0px;
}


